
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fira Sans', sans-serif;
    align-items: center;
}
.quotes {
   text-align: left;
}

h2 {
    text-align: center;
    font-size: xx-large;
}
 
body {
    background-color: blanchedalmond;
    color: black;
    font-family: 'Fira Sans', sans-serif;
    text-align: center;
    line-height: 1.6;
}

.create-todo {
    position: relative;
    width: 400px;
    box-sizing: border-box;
    align-items: center;
    margin: auto;
  }

  .todo-input {
    border: 1px solid #ccc;
    border-radius: 40px;
    padding: 10px 100px 10px 20px; 
    line-height: 1;
    box-sizing: border-box;
    outline: none;
    
  }
  
  .addnew-btn {
    position: relative;
    right: 0px; 
    top: 0px;
    bottom: 0px;
    border: 0;
    background: #cbcbcb;
    color: rgb(0, 0, 0);
    outline: none;
    margin: 0;
    padding: 10px;
    border-radius: 100px;
    width: 90px;
    
  }

  .addnew-btn:hover {
    background-color: #4551ff;
    color: white;
  }