* {
    font-family: 'Fira Sans', sans-serif;
    align-items: center;
}

h2 {
    text-align: center;
    font-size: xx-large;
    font-family: 'Fira Sans', sans-serif;
}
 
body {
    text-align: center;
    line-height: 1.6;
}

.createToDo {
    position: relative;
    width: 400px;
    box-sizing: border-box;
    align-items: center;
    margin: auto;
  }

  .toDoInput {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 100px;
    padding: 10px 100px 10px 20px; 
    line-height: 1;
    box-sizing: border-box;
    outline: none;
    
  }
  
  .addNewBtn {
    position: absolute;
    right: 3px; 
    top: 3px;
    bottom: 3px;
    border: 0;
    background: #cbcbcb;
    color: rgb(0, 0, 0);
    outline: none;
    margin: 0;
    padding: 0 10px;
    border-radius: 100px;
    z-index: 2;
  }

  .addNewBtn:hover {
    background-color: #4551ff;
    color: white;
  }